@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Fares Zekri:</strong> <a href="mailto:farez@microsoft.com">Farez@microsoft.com</a><br />
    <strong>Firas Mdimagh :</strong> <a href="mailto:firas.mdimagh@intilaq.tn">Firas.Mdimagh@intilaq.tn</a>
</address>
