@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <a href="https://twitter.com/fareszekri" target="_blank">Fares Zekri</a><br />
    <a href="https://twitter.com/firas_mdimagh" target="_blank">Firas Mdimagh</a><br />
    <a href="https://github.com/fimdim/devops-workshop" target="_blank">View project on GitHub</a>
</address>
